*{
  margin: 0;
}

.app{
  background-color: #fafafa;
}

.app__header{
  position: sticky;
  top: 0;
  object-fit: contain;
  background-color: white;
  display: flex;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  justify-content: space-between;
}

.app__headerImage{
  height: 50px;
}

.app__signup{
  display: flex;
  flex-direction: column;
}

.app__authContainer{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.app__headerName{
  margin-right: 10px;
}

.app__body{
  display: flex;
}

.app__posts{
  padding: 20px;
  margin-bottom: 100px;
}

.modal{
  position: absolute;
  width: 300px;
  background-color: white;
  border: 2px solid #000;
  box-shadow: black;
  padding: 10px;
  top: 50px;
  left: 500px;
}

.field{
  padding: 10px;
}